<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body>
<div class="layout">
    <aside th:replace="layout :: sidebar"></aside>

    <div class="contenido">
        <header th:replace="estudiante/layout :: header"></header>

        <main>
            <section>
                <h2>Buscar Mentor</h2>
                <div class="buscador-box">
                    <input type="text" placeholder="Buscar por nombre o especialidad">
                    <button>Buscar</button>
                </div>
                <p>En desarrollo...</p>
            </section>
        </main>
    </div>
</div>
</body>
</html>
